html{
    background-color: rgb(241, 165, 35);
    
    /*daca vrem sa asezam butoanele centrat*/
    height: 100%;  /* Make sure the body takes the full height */
    margin: 0;  /* Remove default margin */
    display: flex;  /* Use Flexbox to center the content */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
}

.button1{
    --background-color: #005aff;
    --background-color-dark: #002d81;

    display: inline-block;
    margin: 0 8px;
    padding: 10px 16px;
    font-family: 'Boogaloo', cursive;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--background-color);
    box-shadow: 6px 6px 0 var(--background-color-dark);
}

button:active{ /*button moves when clicking*/
    transform: translateX(2px) translateY(2px); /*take the whole button and the shadow and move it 2px on the right and 2px down*/
    /*if u dont want the shadow to move:
    box-shadow: 4px 4px 0 var(--background-color-dark); */
}

.button2{
    --background-color: #FF00DA;
    --background-color-dark: #840070;
}